name: CI-CD-Healthletics

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Global constants (NOT secrets)
env:
  IMAGE_REPO: xenin007/healthletics-devops
  K8S_NAMESPACE: default
  VERSION: 1.0.${{ github.run_number }}

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show version and image
        run: |
          echo "VERSION=${VERSION}"
          echo "IMAGE_REPO=${IMAGE_REPO}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build + push using official Docker action
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{
              env.IMAGE_REPO
            }}:${{ env.VERSION }}
            ${{
              env.IMAGE_REPO
            }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show deploy version and image
        run: |
          echo "Deploying VERSION=${VERSION}"
          echo "IMAGE_REPO=${IMAGE_REPO}"
          echo "NAMESPACE=${K8S_NAMESPACE}"

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Setup helm
        uses: azure/setup-helm@v4

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > $HOME/.kube/config


      - name: Helm lint
        run: helm lint helm/myapp

      - name: Helm upgrade/install
        id: helm_deploy
        run: |
          helm upgrade --install healthletic-app helm/myapp \
            --namespace ${K8S_NAMESPACE} \
            --create-namespace \
            --set image.repository=${IMAGE_REPO} \
            --set image.tag=${VERSION} \
            --wait --timeout 300s

      - name: Show pods
        run: kubectl get pods -n ${K8S_NAMESPACE}

      - name: Smoke test /health
        run: |
          HTTP_CODE=$(kubectl run curl-test --rm -i --tty \
            --image=curlimages/curl \
            --restart=Never \
            -n ${K8S_NAMESPACE} -- \
            curl -s -o /dev/null -w "%{http_code}" "http://healthletic-app:8080/health" \
            | tr -dc '0-9')
          echo "HTTP_CODE=${HTTP_CODE}"
          if [ "$HTTP_CODE" -ne 200 ]; then
            echo "Smoke test failed"
            exit 1
          fi

      - name: Rollback on failure
        if: failure() && steps.helm_deploy.outcome == 'success'
        run: |
          echo "Rolling back previous release..."
          helm rollback healthletic-app 1 -n ${K8S_NAMESPACE} || echo "Rollback failed or no previous revision."
